@import "tailwindcss";



@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

light-mode {
  background-color: #f7f7f7;
  color: #333;
}

.light-mode input,
.light-mode textarea,
.light-mode select ,
.light-mode .product-card,
.light-mode .collection-sub
{
  background-color: #ffffff;
  color: #333;
  border: 1.5px solid #ccc;
  padding: 12px 14px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: border 0.3s ease;
}

.light-mode input:focus,
.light-mode textarea:focus,
.light-mode select:focus {
  border-color: #6c63ff;
}

.dark-mode {
  background-color: #1f1f1f;
  color: #f0f0f0;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select 

{
  background-color: #2a2a2a;
  color: #f0f0f0;
  border: 1.5px solid #444;
  padding: 12px 14px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: border 0.3s ease;
}
.dark-mode .product-card,
.dark-mode .collection-sub
{
  background-color: #2a2a2a;
  color: #f0f0f0;
}

.dark-mode input:focus,
.dark-mode textarea:focus,
.dark-mode select:focus {
  border-color: #00c9a7;
}
.dark-mode p,
.dark-mode label
{
  color: white;
}
body,
input,
textarea,
select,
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.animate-slide-up {
  animation: slide-up 0.5s ease-in-out;
}
:root{
--heading-font : 'Open Sans', sans-serif;
}
.my-font{
  font-family: "Playfair Display";
}